
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #6187d3;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

:root {
  --fdmp-teal: #04cfb9;
  --fdmp-green: #08be0f;
  --fdmp-red: #f80b0a;
  --fdmp-yellow: #fdce02;
}

.logo-mini {
  height: 50px;
  width: auto;
}

.show-poster img {
  opacity: 1;
  transition: .5s ease;
}

.show-poster .text {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.show-poster:hover img {
  opacity: 0.3;
}

.show-poster:hover .text {
  background-color: white;
  padding: 2rem;
  border-radius: 20%;
  opacity: 0.8;
}

.footer {
  background-color: #302f2f;
  padding-top: 3rem;
  padding-bottom: 3rem;
  color: white;
  margin-top: 3rem;
}

.footer p {
  margin-bottom: .25rem;
}

.social-icon {
  transition: 0.2s ease;
  font-size: xx-large;
  margin: 1rem;
}

.social-icon-light {
  color: white !important;
}

.social-icon:hover {
  color: var(--fdmp-teal) !important;
}